.coupon_admin {
  display: flex;
  justify-content: space-between;
  background: #FFFFFF;
    border-bottom: 1px solid #EBEBEB;

  .coupon__content {
    padding: 14px 0;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    align-items: center;
    .coupon--title {
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: -0.01em;
      text-transform: uppercase;
      color: #222222;
    }
    .coupon__btn--section {
      display: flex;
      margin-left: 100px;
      justify-content: flex-end;
      button {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 24px;
        color: #222222;
        background: #FFFFFF;
        border: 1px solid #EBEBEB;
        border-radius: 8px;
        padding: 5px 16px;
      }
      & button:first-child {
        margin-right:  8px;
      }
      & button:last-child {
        color: #FF3042;
      }
    }
  }
 
  
    .coupon__info--item {
      display: flex;
      justify-content: space-between;
      min-width: 264px;
      flex: 1;
      min-width: 200px;
      max-width: 200px;
      padding: 0 5px;

      p,h2 {
        word-break: break-all;
      }
      & P:first-child {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #AAAAAA;
      }
      & P:last-child {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: #222222;
      }
    }
    & .coupon__info--item:last-child {
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: none;
    }
  
}