.dashboard {
  .admin__content {
    padding: 80px 40px;
    .admin__caption {
      padding: 0;
    }
    .stats__coupons {
      display: flex;
      margin-bottom: 36px;
      .stats__item {
        
        p {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 20px;
          color: #717171;
        }
        .new_coupon,
        .new_shop {
          font-style: normal; 
          font-weight: 300;
          font-size: 42px;
          line-height: 50px;
          color: #222222;
          margin-bottom: 2px;
        }
      }
      & .stats__item:first-child {
        border-right: 1px solid #EBEBEB;
        margin-right: 45px;
        padding-right: 45px;
        padding-left: 45px; 
      }
    }
    .moderator__blocks {
      display: flex;
      margin-bottom: 25px;
      .moderator_item {
        display: flex;
        border: 1px solid #EBEBEB;
        padding: 16px;
        border-radius: 12px;
        flex: 50%;
        img {
          width: 40px;
          height: 40px;
          padding: 8px;
          border-radius: 50%;
          background: rgba(61,179,88,.1);
          margin-right: 34px;
        }
        .moder_info {
          display: flex;
          flex-direction: column;
          .title {
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            color: #3DB358;
          }
          .name {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            color: #222222;
          }
          .moder_stats {
            display: flex;
            .coupons,
            .stores {
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 20px;
              color: #717171;
              margin: 0;
            }
            div {
              margin: 0 5px;
              color: #717171;
              height: 10px;
            }
          }
        }
      }
      & .moderator_item:first-child {
        margin-right: 24px;
      }
      .lowest_moderator {
        img {
          background: rgba(255, 48, 66, 0.1);
          width: 58px;
          height: 58px;
          margin-right: 16px;
        }
        .moder_info {
          .title {
            color: #FF3042;
          }
        }
      }
    }
    .general__block {
      display: flex;
      width: 100%;
      .general__statistic {  
        flex: 2;
        border: 1px solid #EBEBEB;
        border-radius: 12px;
        padding: 16px;
        margin-right: 25px;
      }
      .general__clicks {
        flex: 1;
        border: 1px solid #EBEBEB;
        border-radius: 12px;
        padding: 16px;
        min-height: 664px;
        h3 {
          font-style: normal;
          font-weight: bold;
          font-size: 18px;
          line-height: 26px;
          color: #222222;
          margin-bottom: 18px;
        }
        .adm-tab__head {
          margin-bottom: 0px;
    
          .tabs {
            display: flex;
            border-bottom: 1px solid #EBEBEB;
            justify-content: center;
            margin-bottom: 7px;
            .tab {
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 22px;
              letter-spacing: 0.04em;
              text-transform: uppercase;
              color: #717171;
              cursor: pointer;
              padding: 0 30px;
              &.active {
                color: #FF703E;
                border-bottom: 2px solid #FF703E;
                padding-bottom: 15px;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
              }
            }
    
          }
        }
    
        .dashboard {
          .clicks__items {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 8px;
            height: 56px;  
            img {
              width: 40px;
              height: 40px;
              border: .5px solid rgba(0,0,0,.1);
              border-radius: 50%;
              margin-right: 16px;
              object-fit: cover;
              object-position: center;
            }
            .title {
              display: flex;
              flex-direction: row;
              align-items: center;
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              line-height: 20px;
              color: #222222;
              flex: 2;
              justify-content: space-between;
              padding-bottom: 10px;
              padding-top: 10px;
              border-bottom: 1px solid #EBEBEB;
              .clicks { 
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                color: #717171;
              }
              
            }
            
          }
        }
    
        .adm-tab__body {
          display: none;
    
          &.show {
            display: block;
          }
        }
      }
    }
  }
}