.beauty-page {
  .beauty-title {
    h1 {
      margin-top: 0;
      margin-bottom: 24px;
      font-style: normal;
      font-weight: bold;
      font-size: 54px;
      line-height: 64px;
      color: #222222;
    }
    .top-category__body {
      margin-bottom: 56px;
    }
  }
 
}

.beauty-slide {
  margin-bottom: 48px;
}
.card-section {
  .container {
    & .row:first-child {
      margin-bottom: 32px;
    }
    & .row:last-child {
      margin-top: 32px;
    }
  }
}
.number-coupon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 48px;
  .num-item {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.01em;
    color: rgba(34, 34, 34, 0.6);
    border: 1px solid rgba(34, 34, 34, 0.1);
    margin-right: 8px;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .4s;
  }
  .num-item:hover {
    color: #222;
    border-color: #222;
  }
  .num-dots {
    background-image: url(../../../media/icon/dots.svg);
    background-position: center;
    background-size: cover;
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
}

.beauty-card {
  background-color: #fff;
  padding: 48px 0 0;
    margin-bottom: 56px;
}