@import './alphabet';
@import './chome-block';
.store-page {
  .coupons-title {
    .title-btn {
      margin-bottom: 24px;
    }
  }
}
.store-section {
  background-color: #fff;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  .card-title {
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    h2 {
      margin-bottom: 8px;
    }
    .desc {
      display: flex;
      margin-bottom: 30px;
      p {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        letter-spacing: -0.01em;
        color: #555555;
      }
      &  p:first-child {
        padding-right: 8px;
        margin-right: 8px;
        border-right: 1px solid #aaa; 
      }
    }
  }
  .card-wrap {
    justify-content: space-between; 
    .card-store {
      width: 100%;
      max-width: calc(100% / 5 - 10px);
      margin-bottom: 10px;
      flex: none;
      margin-right: 0;
    }
    
  }
  .show-all {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #222222;
    padding: 8px 0 10px;
    border: 1px solid #222222;
    border-radius: 8px;
    width: 175px;
    margin: 32px auto 0 auto;
    cursor: pointer;
    transition: .4s;
    &:hover {
      background: #222222;
      color: #fff;
    }
  }
}
.alphabet-single-wrap  {
  display: none;
}

@import 'media';