extends ../layout/admin

block variables
  - const pageTitle = 'Admin panel'

block content

  .admin__panel.coupon-details
    include ../modules/admin/admin_bar
    .admin__content
      a.back_btn(href="/catalogue.html") All categories
      .admin__caption
        h1.h1-emoji
          span Add subcategory

      .fix-line-bill
      .info
        .stats__blocks
          .coupon__form.single__coupon-form(style='min-width: 50%; padding-right: 15px;')
            .coupon__modal
              h3 Subcategory data
              form.small-form__form.admin-form#sub-cat-form
                .double.full-inp
                  .input-item
                    .placeholder Name
                    input(type='text' )

                .double.full-inp
                  .input-item
                    .placeholder Parent category
                    input(type='text' )
                .emoji-form
                  .icon 😆
                  div#change-emoji Change emoji
                input(type="submit" value="Save changes").admin_submit


  include ../modules/admin/change_shop_modal
  include ../modules/admin/shop_succefully
  include ../modules/admin/change_emoji




