extends ../layout/admin

block variables
  - const pageTitle = 'Admin panel'

block content
  .sign__in--overylay
    .admin__modal.sign__in-modal
      h3 Sign in
      form.small-form__form.admin-form
        .double
          .input-item
            .placeholder Email
            input(type='email')
          .input-item
            .placeholder Password
            input(type='email')
          p(onClick="location.href='/recovery_pass.html';") Forgot your password?   
          input(type="submit" value="Sign in").sign_in_adm