extends ../layout/admin

block variables
  - const pageTitle = 'Admin panel'

  include ../mixins/category_btn
  include ../modules/admin/single_shop_coupons

block content

  .admin__panel.coupon-details.insta-detail.shop_detail
    include ../modules/admin/admin_bar
    .admin__content
      a.back_btn(href="/admin_shop.html") All shops 
      .admin__caption 
        h1 Best Buy
      .adm-tab__head
        .tabs
          .tab.active#tab-main MAIN INFO
          .tab#tab-active Coupons
          .tab#tab-stat Statistics
      .adm-tab__body.show#body-main
        .shop__info--content
          .shop__name
            img(src="./media/icon/logos/1.png", alt="icon") 
            button Upload new
            button Delete
          form.small-form__form.shop__form
            .double
              .input-item.input
                .placeholder Name
                input(type='text' value="Best Buy")
              .input-item.input
                .placeholder Website 
                input(type='text' value="juicychemistry.com") 
              .input-item.input
                .placeholder Instagram
                input(type='text' value="instagram.com/user/39696259/")    
            .double.full-inp.textarea
              .input-item.input(style="min-height: 232px")
                .placeholder Description
                input(style="width: 100%" maxlength="55" value="Enjoy $6,40 off $25,99 purchase with promocode")#text-counters
              .count
                .count-item#counters 0 
                div /
                .count-item 55    
          .lines
          .admin__search
            input(type="text" placeholder="Search by shop or coupon") 
            img(src="../media/icon/search.svg", alt="icon")
            .search__modal
              .search__cat--item
                .image__cat 🎮
                .name__cat Gaming
              .search__cat--item
                .image__cat ⚙️
                .name__cat Gear
              .search__cat--item
                .image__cat 🎲
                .name__cat Games
              .search__cat--item
                .image__cat 🎲
                .name__cat Games 
              .search__cat--item
                .image__cat 🎲
                .name__cat Games         
          .category
            +CategoryBtn('../media/icon/category/flowers.svg','beauty')
            +CategoryBtn('../media/icon/category/hair.svg','hair')
            +CategoryBtn('../media/icon/category/heart.svg','health')
            +CategoryBtn('../media/icon/category/skin.svg','skin care')
            +CategoryBtn('../media/icon/category/cosmetic.svg','cosmetics')
            +CategoryBtn('../media/icon/category/flowers.svg','beauty')
            +CategoryBtn('../media/icon/category/hair.svg','hair')
            +CategoryBtn('../media/icon/category/heart.svg','health')
          .lines
          h3 Select default partnership network for this shop
          .radio__block
            label.radio
              input(type="radio" name="r" value="1" checked)
              span.aff_sec Affiliate
            label.radio
              input(type="radio" name="r" value="2")
              span.custopm_sec Custom
          .programs__section
            .program__item.program__item--one
              .program__caption.program__list
                h4 Programm
                p Private
                img(src="./media/icon/small-arrow.svg", alt="icon")
              .program__link
                form.small-form__form.shop__form
                  .double
                    .input-item.input
                      .placeholder Link
                      input(disabled type='text' value="https://bag.example.edu/?books=book&aftermath=act")   
            .program__item.program__item--two
              .program__caption.program__list
                h4 Programm
                p Private
                img(src="./media/icon/small-arrow.svg", alt="icon")
                .private__modal
                  .private__item private 1
                  .private__item private 2
                  .private__item private 3
                  .private__item private 4
                  .private__item private 5
              .program__link
                form.small-form__form.shop__form
                  .double
                    .input-item.input
                      .placeholder Link
                      input(type='text' value="https://bag.example.edu/?books=book&aftermath=act")   
          button#saveChange.saveChange Save Changes            



      .adm-tab__body#body-active
        .api-sources__table
          table.api-table
            h3.tabs_name The most popular coupon
            thead.api-table__head
              tr
                th.sort Name
                th Description
                th Recieved
                th Shops
                th Expire date
                th
            tbody.api-table__body
              +single_coupon_item('SAVE6DOLLARS','Enjoy $6,40 off $25,99 purchase with promocode', 'Yesterday, 11:54 GMT', 'Best Buy', 'Jul 1, Aug 2')
              +single_coupon_item('SAVE6DOLLARS','Enjoy $6,40 off $25,99 purchase with promocode', 'Yesterday, 11:54 GMT', 'Best Buy', 'Jul 1, Aug 2')
              +single_coupon_item('SAVE6DOLLARS', 'Enjoy $6,40 off $25,99 purchase with promocode','Yesterday, 11:54 GMT', 'Best Buy', 'Jul 1, Aug 2')
      .adm-tab__body#body-stat
        .stats__tabs 
          .statistic__block
            .stat-tab__head
              h3(style="margin-bottom: 20px") General stats
              .tabs
                .tab.active#tab-today Today
                .tab#tab-week this week
                .tab#tab-months This month
            .stat-tab__body.show#body-today
              .general__stats 
                .user__item
                  h4 Last update
                  p 500
                .user__item
                  h4 Avg update period
                  p 500
                .user__item
                  h4 Clicks
                  p 600
            .stat-tab__body#body-week
              .general__stats 
                .user__item
                  h4 Approved
                  p 50
                .user__item
                  h4 Declined
                  p 50
                .user__item
                  h4 Clicks
                  p 50 
            .stat-tab__body#body-months
              .general__stats 
                .user__item
                  h4 Approved
                  p 5000
                .user__item
                  h4 Declined
                  p 5000
                .user__item
                  h4 Clicks
                  p 50 00
          .moderated__block
            .moder-tab__head
              h3(style="margin-bottom: 20px") TOP10 coupons clicked
              .tabs
                .tab.active#tab-mtoday Today 
                .tab#tab-mweek this week
                .tab#tab-mmonths This month
            .moder-tab__body.show#body-mtoday
              .general__stats 
                .user__item
                  h4 SAVE6DOLLARS
                  p 500
                .user__item
                  h4 SAVE6DOLLARS
                  p 500
                .user__item
                  h4 SAVE6DOLLARS
                  p 600
            .moder-tab__body#body-mweek
              .general__stats 
                .user__item
                  h4 ASAVE6DOLLARS
                  p 50
                .user__item
                  h4 SAVE6DOLLARS
                  p 50
                .user__item
                  h4 Sent to archive
                  p 50 
            .moder-tab__body#body-mmonths
              .general__stats 
                .user__item
                  h4 Approved
                  p 5000
                .user__item
                  h4 Declined
                  p 5000
                .user__item
                  h4 Sent to archive
                  p 50 00                               

  include ../modules/admin/shop_succefully       