extends ../layout/admin
include ../modules/admin-bill/mixins/adm_select

block variables
  - const pageTitle = 'Admin panel'

block content

  .admin__panel.adm__shop--page
    include ../modules/admin/admin_bar 
    .admin__content
      .admin__caption 
        h1 Shops
        .adm_nav
          .admin__search
            input(type="text" placeholder="Search by shop name")
            img(src="../media/icon/search.svg", alt="icon")
          button Add new shop
      .admin__select--block
        .adm-select-wrapp_bill
          .left
            +adm-select-item_bill('All statuses')
            +adm-select-item_bill('All categories')
            +adm-select-item_bill('All moderators')
            +adm-select-item_bill('Any coupon count')
            +adm-select-item_bill('Visits, 30 days')
            +adm-select-item_bill('Any time range', true)
          .right Clear filters
        .adm_check
          .checkbox
            label.checklink
              input(type="checkbox" name="r" value="1").option-input
              span 1+ affiliate link  
            label.checklink
              input(type="checkbox" name="r" value="1").option-input
              span No affiliate link 

      .sort__block
        p Name
        p Recieved
          img(src="../media/icon/adm_arrow.svg", alt="")
        p Coupons
        p Category
        p Network  
        //- p(style="opacity: 0")
      .shop__content
        include ../modules/admin/coupon_shop
        include ../modules/admin/coupon_shop               
        include ../modules/admin/coupon_shop
        include ../modules/admin/coupon_shop
        include ../modules/admin/coupon_shop               
        include ../modules/admin/coupon_shop
        include ../modules/admin/coupon_shop
        .number-coupon
          .num-item.active 1
          .num-item 2
          .num-item 3
          .num-dots
          .num-item 8
  include ../modules/admin/change_shop_modal 
          