extends ../layout/admin
include ../modules/admin-bill/mixins/adm_select
include ../modules/admin-bill/mixins/adm_select_big
include ../modules/admin-bill/mixins/api_item

block variables
  - const pageTitle = 'Admin panel'

block content

  .admin__panel.adm__shop--page
    include ../modules/admin/admin_bar 
    .admin__content
      .admin__caption 
        h1 Shops
        .adm_nav
          .admin__search
            input(type="text" placeholder="Search by shop name")
            img(src="../media/icon/search.svg", alt="icon")
          button#addSHopBtn Add new shop
      .admin__select--block
        .adm-select-wrapp_bill
          .left
            +adm-select-item_bill('All statuses')
            +adm-select-item_bill('All categories')
            +adm-select-item_bill('All moderators')
            +adm-select-big('Any coupon count')
            +adm-select-big('Visits, 30 days')
            +adm-select-item_bill('Any time range', true)
          .right Clear filters
        .adm_check
          .checkbox
            label.checklink
              input(type="checkbox" name="r" value="1").option-input
              span 1+ affiliate link  
            label.checklink
              input(type="checkbox" name="r" value="1").option-input
              span No affiliate link


      .api-sources__table.api-sources__table--padding
        table.api-table
          thead.api-table__head
            tr
              th.sort Name
              th Visits
              th Moderator
              th Recieved
              th Coupons
              th Category
              th Affiliate link
              th
          tbody.api-table__body
            +api_item_shop('Kohl’s', '223', 'John Dou', 'Aug 2', '32', 'Healthcare - Beauty', 'Happy Coupons Network')
            +api_item_shop('Kohl’s', '223', 'John Dou', 'Aug 2', '32', 'Healthcare - Beauty', 'Happy Coupons Network')
            +api_item_shop('Kohl’s', '223', 'John Dou', 'Aug 2', '32', 'Healthcare - Beauty', 'Happy Coupons Network')
            +api_item_shop('Kohl’s', '223', 'John Dou', 'Aug 2', '32', 'Healthcare - Beauty', 'Happy Coupons Network')
            +api_item_shop('Kohl’s', '223', 'John Dou', 'Aug 2', '32', 'Healthcare - Beauty', 'Happy Coupons Network')
            +api_item_shop('Kohl’s', '223', 'John Dou', 'Aug 2', '32', 'Healthcare - Beauty', 'Happy Coupons Network')
            +api_item_shop('Kohl’s', '223', 'John Dou', 'Aug 2', '32', 'Healthcare - Beauty', 'Happy Coupons Network')
            +api_item_shop('Kohl’s', '223', 'John Dou', 'Aug 2', '32', 'Healthcare - Beauty', 'Happy Coupons Network')


        .number-coupon
          .num-item.active 1
          .num-item 2
          .num-item 3
          .num-dots
          .num-item 8
  include ../modules/admin/change_shop_modal
  include ../modules/admin/addNewShop 
          