extends ../layout/admin
include ../modules/admin-bill/mixins/adm_select
include ../modules/admin-bill/mixins/adm_select_big

block variables
  - const pageTitle = 'Admin panel'

block content 
  .admin__panel
    include ../modules/admin/admin_bar
    .admin__content
      .admin__caption 
        h1 Coupons
        .admin__search
          input(type="text" placeholder="Search by shop or coupon") 
          img(src="../media/icon/search.svg", alt="icon")
        button.addNewCoupon Add new coupon
        
      .admin__select--block
        .adm-select-wrapp_bill
          .left
            +adm-select-item_bill('All statuses')
            +adm-select-item_bill('All sources')
            +adm-select-item_bill('All moderators')
            +adm-select-big('Clicks, 30 days')
            +adm-select-big('Success rate')
            +adm-select-big('Date added', true)
          .right Clear filters
        
      .sort__block
        p Name
        p Shop
        p Recieved
        p Expire date
          img(src="../media/icon/adm_arrow.svg", alt="")
        p(style="opacity: 0")
      .coupon_section
        include ../modules/admin/coupon_admin
        include ../modules/admin/coupon_admin    
        include ../modules/admin/coupon_admin    
        include ../modules/admin/coupon_admin    
        include ../modules/admin/coupon_admin
        include ../modules/admin/coupon_admin    
        include ../modules/admin/coupon_admin    
        include ../modules/admin/coupon_admin    
        include ../modules/admin/coupon_admin
        .number-coupon
          .num-item.active 1
          .num-item 2
          .num-item 3
          .num-dots
          .num-item 8

  include ../modules/admin/admin_modal
  include ../modules/admin/shop_succefully