extends ../layout/admin
include ../modules/admin-bill/mixins/adm_select
include ../modules/admin-bill/mixins/api_item

block variables
  - const pageTitle = 'API'

block content
  .api-sources
    .admin__panel.adm__shop--page
      include ../modules/admin/admin_bar
      .admin__content.admin__content--bill
        .admin__caption
          h1 API sources
          .adm_nav
            .admin__search.admin__search--api
              input(type="text" placeholder="Search by network name")
              img(src="../media/icon/search.svg", alt="icon")
            button Add new source
        .adm-select-wrapp_bill
          +adm-select-item_bill('All statuses')
        .api-sources__table
          table.api-table
            thead.api-table__head
              tr
                th.sort Name
                th Status
                th Total coupons
                th Approved
                th Last update
                th
            tbody.api-table__body
              +api_item('Network name goes here', true, '273', '136', 'May 20, 2020 – 23:59 EST')
              +api_item('Network name goes here', true, '273', '136', 'May 20, 2020 – 23:59 EST')
              +api_item('Network name goes here', false, '273', '136', 'May 20, 2020 – 23:59 EST')
              +api_item('Network name goes here', false, '273', '136', 'May 20, 2020 – 23:59 EST')
              +api_item('Network name goes here', true, '273', '136', 'May 20, 2020 – 23:59 EST')
              +api_item('Network name goes here', true, '273', '136', 'May 20, 2020 – 23:59 EST')
              +api_item('Network name goes here', false, '273', '136', 'May 20, 2020 – 23:59 EST')
              +api_item('Network name goes here', true, '273', '136', 'May 20, 2020 – 23:59 EST')
              +api_item('Network name goes here', true, '273', '136', 'May 20, 2020 – 23:59 EST')
              +api_item('Network name goes here', false, '273', '136', 'May 20, 2020 – 23:59 EST')
              +api_item('Network name goes here', true, '273', '136', 'May 20, 2020 – 23:59 EST')
              +api_item('Network name goes here', true, '273', '136', 'May 20, 2020 – 23:59 EST')
        .number-coupon
          .num-item.active 1
          .num-item 2
          .num-item 3
          .num-dots
          .num-item 8