extends ../layout/main

block variables
  - const pageTitle = 'Beauty'
  - const mainSliderTitle = 'Most popular beauty stores'

  include ../mixins/breadcrumb
  include ../mixins/smallCoupon
  include ../mixins/cardStore
  include ../mixins/card-link
  include ../mixins/categoryItem
  include ../mixins/bigCoupon2 

block content
  .beauty-page
    .container
      .row
        .col-12
          .breadcrumb
            +breadcrumb('Main page','/')
            +breadcrumb('/ Categories','#')
            +breadcrumb('/ Healthcare','/Healthcare.html') 
         
      .row
        .col-12
          .coupons-title.beauty-title
            h1 Healthcare - #[span Beauty]
            .top-category__body
              +categoryItem('⌚', 'accessories') 
              +categoryItem('🌸', 'beauty', '/beauty.html')
              +categoryItem('👗', 'fashion')
              +categoryItem('👚', 'clothing')
              +categoryItem('🎁', 'gifts')
              +categoryItem('🍔', 'food')
              +categoryItem('💄', 'cosmetics')
              +categoryItem('💉', 'supplements')
              +categoryItem('💉', 'hair care')
              +categoryItem('🍿', 'snacks')
              +categoryItem('🚲', 'transport')
              +categoryItem('🍿', 'chocolate')
              +categoryItem('🍫', 'chocolate')
              +categoryItem('📷', 'photography')
              +categoryItem('👖', 'leggings')
              +categoryItem('📦', 'delivery')
              +categoryItem('👩‍', 'hair')
              +categoryItem('🥊', 'activewear')
      .row
        .col-12
          .small-coupon
            h2 Our best Beauty coupons and discount codes
            .coupons-shop__body.coupones__body
              +coupons-shop2('Free shipping','Travelocity', 'Free Standard Shipping With Doorstep Drop-Off on Orders $35 and Up','14,271 total uses','2,632 uses today','80% success rate')
              +coupons-shop2(' 35% OFF','Travelocity', 'Save Up to 35% on Select Solids State Drives','14,271 total uses','2,632 uses today','80% success rate')
              +coupons-shop2('35% OFF','Travelocity', 'Save $35-$700 On Select Surface Devices and Free Contactless Curbside Pickup','14,271 total uses','2,632 uses today','80% success rate')
              +coupons-shop2('$500 Off','Travelocity', 'Free Standard Shipping With Doorstep Drop-Off on Orders $35 and Up','14,271 total uses','2,632 uses today','80% success rate')
              +coupons-shop2('$170 Off','Travelocity', 'Up to $170 Off Beats Headphones Plus Available for In-Store Pick Up by Christmas','14,271 total uses','2,632 uses today','80% success rate')
              +coupons-shop2('35% OFF','Travelocity', 'Save $35-$700 On Select Surface Devices and Free Contactless Curbside Pickup','14,271 total uses','2,632 uses today','80% success rate')
              +coupons-shop2('$500 Off','Travelocity', 'Free Standard Shipping With Doorstep Drop-Off on Orders $35 and Up','14,271 total uses','2,632 uses today','80% success rate')
              +coupons-shop2('$170 Off','Travelocity', 'Up to $170 Off Beats Headphones Plus Available for In-Store Pick Up by Christmas','14,271 total uses','2,632 uses today','80% success rate')
  .main-slider.beauty-slide 
    .container
      .row
        .col-12
          .main-slider__title=mainSliderTitle
          .main-slider__body.owl-carousel.owl-theme
            +card-store("./media/icon/logos/1.png", "Kohl's", "21 active coupons", "12,637,890 times used")
            +card-store("./media/icon/logos/2.png", "Travelocity", "21 active coupons", "12,637,890 times used")
            +card-store("./media/icon/logos/3.png", "RedBubble", "4 active coupons", "12,637,890 times used")
            +card-store("./media/icon/logos/4.png", "Best Buy", "50 active coupons", "12,637,890 times used")
            +card-store("./media/icon/logos/5.png", "SHEIN", "3 active coupons", "12,637,890 times used")
            +card-store("./media/icon/logos/2.png", "Travelocity", "21 active coupons", "12,637,890 times used") 
  .beauty-page
    .container  
      .row
        .col-12
          .small-coupon
            h2 More Beauty coupons and discount codes
            .coupons-shop__body.coupones__body
              +coupons-shop2('Free shipping','Travelocity', 'Free Standard Shipping With Doorstep Drop-Off on Orders $35 and Up','14,271 total uses','2,632 uses today','80% success rate')
              +coupons-shop2(' 35% OFF','Travelocity', 'Save Up to 35% on Select Solids State Drives','14,271 total uses','2,632 uses today','80% success rate')
              +coupons-shop2('35% OFF','Travelocity', 'Save $35-$700 On Select Surface Devices and Free Contactless Curbside Pickup','14,271 total uses','2,632 uses today','80% success rate')
              +coupons-shop2('$500 Off','Travelocity', 'Free Standard Shipping With Doorstep Drop-Off on Orders $35 and Up','14,271 total uses','2,632 uses today','80% success rate')
              +coupons-shop2('$170 Off','Travelocity', 'Up to $170 Off Beats Headphones Plus Available for In-Store Pick Up by Christmas','14,271 total uses','2,632 uses today','80% success rate')
              +coupons-shop2('35% OFF','Travelocity', 'Save $35-$700 On Select Surface Devices and Free Contactless Curbside Pickup','14,271 total uses','2,632 uses today','80% success rate')
              +coupons-shop2('$500 Off','Travelocity', 'Free Standard Shipping With Doorstep Drop-Off on Orders $35 and Up','14,271 total uses','2,632 uses today','80% success rate')
              +coupons-shop2('$170 Off','Travelocity', 'Up to $170 Off Beats Headphones Plus Available for In-Store Pick Up by Christmas','14,271 total uses','2,632 uses today','80% success rate')
              .number-coupon
                .num-item.active 1
                .num-item 2
                .num-item 3
                .num-dots
                .num-item 8
  .card-section.beauty-card
    .container    
      .row
        .col-12
          .card-title
            h2 Find Beauty coupons at these stores
          .card-wrap
            +card-store("./media/icon/logos/1.png", "Kohl's", "21 active coupons", "12,637,890 times used")
            +card-store("./media/icon/logos/2.png", "Travelocity", "21 active coupons", "12,637,890 times used")
            +card-store("./media/icon/logos/3.png", "RedBubble", "4 active coupons", "12,637,890 times used")
            +card-store("./media/icon/logos/4.png", "Best Buy", "50 active coupons", "12,637,890 times used")
            +card-store("./media/icon/logos/5.png", "SHEIN", "3 active coupons", "12,637,890 times used")
            +card-store("./media/icon/logos/2.png", "Travelocity", "21 active coupons", "12,637,890 times used") 
            +card-store("./media/icon/logos/2.png", "Travelocity", "21 active coupons", "12,637,890 times used")
            +card-store("./media/icon/logos/3.png", "RedBubble", "4 active coupons", "12,637,890 times used")
            +card-store("./media/icon/logos/4.png", "Best Buy", "50 active coupons", "12,637,890 times used")
            +card-store("./media/icon/logos/5.png", "SHEIN", "3 active coupons", "12,637,890 times used")
      .row
        .col-12
          .small-form
            .small-form__text
              .title Get top offers and save money
              .desc Offers only valid coupons while you shop online
            form.small-form__form
              .placeholder Enter your Email here
              input(type='email')
              input(type='submit' value='')
      .row
        .col-12
          .card-wrap
            +card-store("./media/icon/logos/1.png", "Kohl's", "21 active coupons", "12,637,890 times used")
            +card-store("./media/icon/logos/2.png", "Travelocity", "21 active coupons", "12,637,890 times used")
            +card-store("./media/icon/logos/3.png", "RedBubble", "4 active coupons", "12,637,890 times used")
            +card-store("./media/icon/logos/4.png", "Best Buy", "50 active coupons", "12,637,890 times used")
            +card-store("./media/icon/logos/5.png", "SHEIN", "3 active coupons", "12,637,890 times used")
            +card-store("./media/icon/logos/2.png", "Travelocity", "21 active coupons", "12,637,890 times used") 
            +card-store("./media/icon/logos/2.png", "Travelocity", "21 active coupons", "12,637,890 times used")
            +card-store("./media/icon/logos/3.png", "RedBubble", "4 active coupons", "12,637,890 times used")
            +card-store("./media/icon/logos/4.png", "Best Buy", "50 active coupons", "12,637,890 times used")
            +card-store("./media/icon/logos/5.png", "SHEIN", "3 active coupons", "12,637,890 times used")              
  .container
    .row(style="margin-bottom: 56px")  
      .col-6
        +card-link('Stores of the day')
      .col-6
        +card-link('Stores of the day')   
  .coupon-tag
    include ../modules/home/top-category      