extends ../layout/admin

block variables
  - const pageTitle = 'Admin panel'

block content

  .admin__panel.coupon-details
    include ../modules/admin/admin_bar
    .admin__content(style="padding-bottom: 173px")
      a.back_btn(href="/catalogue.html") All categories
      .admin__caption
        h1.h1-emoji

          span Category

      .fix-line-bill
      .info
        .stats__blocks
          .coupon__form.single__coupon-form(style='min-width: 50%; padding-right: 15px;')
            .coupon__modal
              h3 Edit category data
              form.small-form__form.admin-form#sub-cat-form
                .double.full-inp
                  .input-item.input
                    .placeholder Name
                    input(type='text' value='Category 2')

                .emoji-form
                  .icon 😆
                  div#change-emoji Change emoji
                input(type="submit" value="Save changes").admin_submit



          .stats__block.small-bill
            .stats__item
              p Creation
              p May 20, 2020 – 14:08 by Josh Barnett
            .stats__item
              p Last modify
              p May 30, 2020 – 21:01 by Josh Barnett





  include ../modules/admin/change_shop_modal
  include ../modules/admin/shop_succefully
  include ../modules/admin/change_emoji




