extends ../layout/admin

block variables
  - const pageTitle = 'Admin panel'

block content

  .admin__panel.coupon-details
    include ../modules/admin/admin_bar
    .admin__content(style="padding-bottom: 173px")
      a.back_btn(href="/catalogue.html") All categories

      .info.info-small
        .coupon__form.single__coupon-form(style='padding-top: 20px')
          .coupon__modal
            h3 Edit subcategory data
            form.small-form__form.admin-form#sub-cat-form
              .double.full-inp
                .input-item.input
                  .placeholder Name
                  input(type='text' value='Subcategory 2')
              .emoji-form
                .icon 😆
                div#change-emoji Change emoji
              input(type="submit" value="Save changes").admin_submit



  include ../modules/admin/change_shop_modal
  include ../modules/admin/shop_succefully
  include ../modules/admin/change_emoji




