extends ../layout/admin

block variables
  - const pageTitle = 'Admin panel'

block content

  .admin__panel.coupon-details
    include ../modules/admin/admin_bar
    .admin__content
      a.back_btn(href="/admin.html") All coupons
      .admin__caption 
          h1 SAVE6DOLLARS
          button Block source
      .info
        .stats__blocks
          .stats__block
            .stats__title General stats
            .stats__item
              p Moderated by
              p Josh Barnett
            .stats__item
              p Moderation date
              p May 20, 2020 – 14:08
            .stats__item
              p Source
              p(style="color:  #24B4FF") @shellynyak
          .stats__block
            .stats__title Vote stats
            .stats__item
              p Upvoted
              p 1276 votes – 80%
            .stats__item
              p Downvoted
              p 319 votes – 20%
            .stats__item
              p Clicks without votes
              p 739
        .adm__links
          .adm__link
            h3 Original post link
            a(href="#") http://instagram.com/user/39696259/post_56y72sdf0923.html
          .adm__link
            h3 Original post text
            p Do you love face oils? My skin is very picky when it comes to face oil. Most of the time either the oil just floats on my skin and sticks wherever except my face or I end up with an irritated skin. But #juicychemistry 100% Organic Camellia Seed Oil is surely the magic in a bottle. You can use my code - SHELL15 for additional discount on Juicychemistry Website.  
          .adm__link
            h3 Shop
            include ../modules/admin/coupon-shop-single   
        .coupon__form.single__coupon-form
          .coupon__modal
            h3 Edit coupon data
            form.small-form__form.admin-form 
              .double
                .input-item
                  .placeholder Coupon
                  input(type='email')
                .input-item
                  .placeholder Expiration date 
                  input(type='email')
              .coupon_admin.shop_adm.shop__form
                .coupon__content
                  .shop__title
                    img(src="./media/icon/logos/1.png", alt="") 
                    .title__item
                      h3 Shop
                      h4 Kohl’s
                  button(type="button").change_shop Change shop     
                       
              .double
                .input-item
                  .placeholder Instagram account
                  input(type='email')
                .input-item
                  .placeholder Website URL
                  input(type='email')
              .double.full-inp
                .input-item
                  .placeholder Coupon’s short description
                  input(maxlength="55" type='email')#text-counter
              .count
                .count-item#counter 0
                div /
                .count-item 55    
              .double.full-inp.textarea 
                .input-item
                  .placeholder Coupon’s full description
                  textarea#text-count(maxlength="255")
              .count
                .count-item#count 0
                div /
                .count-item 255      
              input(type="submit" value="Save changes").admin_submit   
      
        

  include ../modules/admin/change_shop_modal
  include ../modules/admin/shop_succefully          
         



  