extends ../layout/main

block variables
  - const pageTitle = 'Couponation'
  - const mainSliderTitle = 'Coupons, discount codes and cashback at our favorite stores'

  include ../mixins/breadcrumb
  include ../mixins/smallCoupon
  include ../mixins/cardStore
  include ../mixins/card-link
  include ../mixins/bigCoupon2 

block content
  .coupon-page
    .container
      .row
        .col-12
          .breadcrumb
            +breadcrumb('Main page','/')
            +breadcrumb('/ Coupons','./coupons.html') 
      .row
        .col-12
          .coupons-title
            h1 Coupons
            .title-btn
              button(onCLick="location.href='/couponoftheday.html';") Coupons of the day
              button New coupons
              button Trusted coupons
      .row
        .col-12
          .small-coupon
            h2 Coupons of the day
            .desc
              p 12,738 coupons
              p 3,397,262 activations
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis.  
            .coupons-shop__body.coupones__body
              +coupons-shop2('Free shipping','Travelocity', 'Free Standard Shipping With Doorstep Drop-Off on Orders $35 and Up','14,271 total uses','2,632 uses today','80% success rate')
              +coupons-shop2(' 35% OFF','Travelocity', 'Save Up to 35% on Select Solids State Drives','14,271 total uses','2,632 uses today','80% success rate')
              +coupons-shop2('35% OFF','Travelocity', 'Save $35-$700 On Select Surface Devices and Free Contactless Curbside Pickup','14,271 total uses','2,632 uses today','80% success rate')
              +coupons-shop2('$500 Off','Travelocity', 'Free Standard Shipping With Doorstep Drop-Off on Orders $35 and Up','14,271 total uses','2,632 uses today','80% success rate')
              +coupons-shop2('$170 Off','Travelocity', 'Up to $170 Off Beats Headphones Plus Available for In-Store Pick Up by Christmas','14,271 total uses','2,632 uses today','80% success rate')
              .show-all(onCLick="location.href='/couponoftheday.html';") All coupons of the day
  .main-slider.coupon-slide
    .container
      .row
        .col-12
          .main-slider__title=mainSliderTitle
          .main-slider__body.owl-carousel.owl-theme#coupon-slider
            +card-store("./media/icon/logos/1.png", "Kohl's", "21 active coupons", "12,637,890 times used")
            +card-store("./media/icon/logos/2.png", "Travelocity", "21 active coupons", "12,637,890 times used")
            +card-store("./media/icon/logos/3.png", "RedBubble", "4 active coupons", "12,637,890 times used")
            +card-store("./media/icon/logos/4.png", "Best Buy", "50 active coupons", "12,637,890 times used")
            +card-store("./media/icon/logos/5.png", "SHEIN", "3 active coupons", "12,637,890 times used")
            +card-store("./media/icon/logos/2.png", "Travelocity", "21 active coupons", "12,637,890 times used") 
  .coupon-page
    .container.second-section  
      .row
        .col-12
          .small-coupon
            h2 New coupons
            .desc
              p 12,738 coupons
              p 3,397,262 activations
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis.    
            .coupons-shop__body.coupones__body
              +coupons-shop2('Free shipping','Travelocity', 'Free Standard Shipping With Doorstep Drop-Off on Orders $35 and Up','14,271 total uses','2,632 uses today','80% success rate')
              +coupons-shop2(' 35% OFF','Travelocity', 'Save Up to 35% on Select Solids State Drives','14,271 total uses','2,632 uses today','80% success rate')
              +coupons-shop2('35% OFF','Travelocity', 'Save $35-$700 On Select Surface Devices and Free Contactless Curbside Pickup','14,271 total uses','2,632 uses today','80% success rate')
              +coupons-shop2('$500 Off','Travelocity', 'Free Standard Shipping With Doorstep Drop-Off on Orders $35 and Up','14,271 total uses','2,632 uses today','80% success rate')
              +coupons-shop2('$170 Off','Travelocity', 'Up to $170 Off Beats Headphones Plus Available for In-Store Pick Up by Christmas','14,271 total uses','2,632 uses today','80% success rate')
              .show-all All new coupons
    .container
      .row.form-section
        .col-12
          .small-form
            .small-form__text
              .title Get top offers and save money
              .desc Offers only valid coupons while you shop online
            form.small-form__form
              .placeholder Enter your Email here
              input(type='email')
              input(type='submit' value='')
      .row
        .col-12
          .small-coupon
            h2 Trusted coupons
            .desc
              p 12,738 coupons
              p 3,397,262 activations
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis.  
            .coupons-shop__body.coupones__body
              +coupons-shop2('Free shipping','Travelocity', 'Free Standard Shipping With Doorstep Drop-Off on Orders $35 and Up','14,271 total uses','2,632 uses today','80% success rate')
              +coupons-shop2(' 35% OFF','Travelocity', 'Save Up to 35% on Select Solids State Drives','14,271 total uses','2,632 uses today','80% success rate')
              +coupons-shop2('35% OFF','Travelocity', 'Save $35-$700 On Select Surface Devices and Free Contactless Curbside Pickup','14,271 total uses','2,632 uses today','80% success rate')
              +coupons-shop2('$500 Off','Travelocity', 'Free Standard Shipping With Doorstep Drop-Off on Orders $35 and Up','14,271 total uses','2,632 uses today','80% success rate')
              +coupons-shop2('$170 Off','Travelocity', 'Up to $170 Off Beats Headphones Plus Available for In-Store Pick Up by Christmas','14,271 total uses','2,632 uses today','80% success rate')
              .show-all All trusted coupons
      .row
        .col-12.col-lg-4.col-md-4.col-sm-6
          +card-link('Stores of the day')
        .col-12.col-lg-4.col-md-4.col-sm-6
          +card-link('Stores of the day')
        .col-12.col-lg-4.col-md-4.col-sm-6
          +card-link('New stores')
  .coupon-tag
    include ../modules/home/top-category      