extends ../layout/admin

block variables
  - const pageTitle = 'Admin panel'

block content

  .admin__panel.dashboard
    include ../modules/admin/admin_bar
    .admin__content
      .admin__caption 
        h1 Dashboard
      .stats__coupons
        .stats__item
          p.new_coupon 1289
          p New coupons
        .stats__item
          p.new_shop 289
          p New shops
      .moderator__blocks
        .moderator_item.moder_of_week
          img(src="../media/icon/smile.svg", alt="icon")
          .moder_info
            .title Moderator of the week
            .name Roger Johnston
            .moder_stats
              .coupons 237 moderated coupons
              div |
              .stores 237 moderated stores
        .moderator_item.lowest_moderator
          img(src="../media/icon/sadsmile.svg", alt="icon")
          .moder_info
            .title Moderator of the week
            .name Roger Johnston
            .moder_stats
              .coupons 2 moderated coupons
              div |
              .stores 0 moderated stores
      .general__block
        .general__statistic
          h3 General statistics
        .general__clicks
          h3 TOP10 affilated clicks
          .adm-tab__head
            .tabs
              .tab.active#tab-today TODAY
              .tab#tab-week WEEK
              .tab#tab-month MONTH
          .adm-tab__body.dashboard.show#body-today
            .clicks__items
              img(src="../media/icon/logos/1.png", alt="icon")
              .title Kohl's 
                .clicks 579
            .clicks__items
              img(src="../media/icon/logos/1.png", alt="icon")
              .title Kohl's 
                .clicks 579
            .clicks__items
              img(src="../media/icon/logos/1.png", alt="icon")
              .title Kohl's 
                .clicks 579        
          .adm-tab__body.dashboard#body-week
            .clicks__items
              img(src="../media/icon/logos/2.png", alt="icon")
              .title Travelocity 
                .clicks 579
            .clicks__items
              img(src="../media/icon/logos/2.png", alt="icon")
              .title Travelocity 
                .clicks 579
            .clicks__items
              img(src="../media/icon/logos/2.png", alt="icon")
              .title Travelocity 
                .clicks 579  
          .adm-tab__body.dashboard#body-month
            .clicks__items
              img(src="../media/icon/logos/3.png", alt="icon")
              .title RedBubble 
                .clicks 579
            .clicks__items
              img(src="../media/icon/logos/3.png", alt="icon")
              .title RedBubble 
                .clicks 579
            .clicks__items
              img(src="../media/icon/logos/3.png", alt="icon")
              .title RedBubble 
                .clicks 579 
