extends ../layout/admin

block variables
  - const pageTitle = 'Admin panel'


include ../modules/admin-bill/mixins/adm_select
block content



  .admin__panel.dashboard
    include ../modules/admin/admin_bar
    .admin__content
      .moderator__blocks
        .moderator_item.moder_of_week
          img(src="../media/icon/smile.svg", alt="icon")
          .moder_info
            .title COUPON MODERATOR
            .name Roger Johnston
            .moder_stats
              .coupons 237 moderated coupons

        .moderator_item.moder_of_week
          img(src="../media/icon/smile.svg", alt="icon")
          .moder_info
            .title shop MODERATOR
            .name Roger Johnston
            .moder_stats

              .stores 237 moderated shops
        .moderator_item.lowest_moderator
          img(src="../media/icon/sadsmile.svg", alt="icon")
          .moder_info
            .title COUPON MODERATOR
            .name Roger Johnston
            .moder_stats
              .coupons 2 moderated coupons

        .moderator_item.lowest_moderator
          img(src="../media/icon/sadsmile.svg", alt="icon")
          .moder_info
            .title shop MODERATOR
            .name Roger Johnston
            .moder_stats

              .stores 0 moderated shops
      .general__block
        .general__statistic
          .hover-block
            .line Coupons
            .line Shops
            .line Traffic
          h3 General statistics
          p
            span coupons
            img(src='./media/icon/small-arrow.svg' alt='arrow')


          .grf-tab__head
            .tabs
              .tab.active#tab-today2 TODAY 
              .tab#tab-week2 WEEK
              .tab#tab-month2 MONTH
          .grf-tab__body.graphic.show#body-today2
            canvas#myChart
          .grf-tab__body.graphic#body-week2
            canvas#myChartWeek
          .grf-tab__body.graphic#body-month2
            canvas#myChartMonth

        .general__clicks
          h3 TOP10 affilated clicks
          .adm-tab__head
            .tabs
              .tab.active#tab-today TODAY
              .tab#tab-week WEEK
              .tab#tab-month MONTH
          .adm-tab__body.dashboard.show#body-today
            .clicks__items
              img(src="../media/icon/logos/1.png", alt="icon")
              .title Kohl's 
                .clicks 579
            .clicks__items
              img(src="../media/icon/logos/1.png", alt="icon")
              .title Kohl's 
                .clicks 579
            .clicks__items
              img(src="../media/icon/logos/1.png", alt="icon")
              .title Kohl's 
                .clicks 579        
          .adm-tab__body.dashboard#body-week
            .clicks__items
              img(src="../media/icon/logos/2.png", alt="icon")
              .title Travelocity 
                .clicks 579
            .clicks__items
              img(src="../media/icon/logos/2.png", alt="icon")
              .title Travelocity 
                .clicks 579
            .clicks__items
              img(src="../media/icon/logos/2.png", alt="icon")
              .title Travelocity 
                .clicks 579  
          .adm-tab__body.dashboard#body-month
            .clicks__items
              img(src="../media/icon/logos/3.png", alt="icon")
              .title RedBubble 
                .clicks 579
            .clicks__items
              img(src="../media/icon/logos/3.png", alt="icon")
              .title RedBubble 
                .clicks 579
            .clicks__items
              img(src="../media/icon/logos/3.png", alt="icon")
              .title RedBubble 
                .clicks 579 
