extends ../layout/main

block variables
  - const pageTitle = 'Couponation'
  - const mainSliderTitle = 'Favorite stores'

block content
  include ../modules/home/main
  include ../modules/main-slider