extends ../layout/main

block variables
  - const pageTitle = 'Couponation'
  - const mainSliderTitle = 'Favorite stores'

block content
  include ../modules/home/main
  include ../modules/main-slider
  include ../modules/home/coupones
  include ../modules/home/extension 
  .home-popular-shop
    .container
      .row
        .col-12
          .title The most popular stores today
        .col-12
          .home-popular-shop__body
            +card-store("./media/icon/logos/1.png", "Kohl's", "21 active coupons", "12,637,890 times used")
            +card-store("./media/icon/logos/2.png", "Travelocity", "21 active coupons", "12,637,890 times used")
            +card-store("./media/icon/logos/3.png", "RedBubble", "4 active coupons", "12,637,890 times used")
            +card-store("./media/icon/logos/4.png", "Best Buy", "50 active coupons", "12,637,890 times used")
            +card-store("./media/icon/logos/5.png", "SHEIN", "3 active coupons", "12,637,890 times used")
            +card-store("./media/icon/logos/2.png", "Travelocity", "21 active coupons", "12,637,890 times used")
            +card-store("./media/icon/logos/4.png", "Best Buy", "50 active coupons", "12,637,890 times used")
            +card-store("./media/icon/logos/5.png", "SHEIN", "3 active coupons", "12,637,890 times used")
            +card-store("./media/icon/logos/2.png", "Travelocity", "21 active coupons", "12,637,890 times used")
            +card-store("./media/icon/logos/2.png", "Travelocity", "21 active coupons", "12,637,890 times used")
  include ../modules/small-form
  include ../modules/home/top-category
  include ../modules/getCodeModal