extends ../layout/admin
include ../modules/admin-bill/mixins/adm_select
include ../modules/admin-bill/mixins/api_item
include ../modules/admin-bill/mixins/adm_select_big
include ../modules/admin-bill/mixins/adm_select_search

block variables
  - const pageTitle = 'API'

block content
  .api-sources
    .admin__panel.adm__shop--page
      include ../modules/admin/admin_bar
      .admin__content.admin__content--bill
        .admin__caption
          h1 Instagram sources
          .adm_nav
            .admin__search.admin__search--api
              input(type="text" placeholder="Search by source or #tag")
              img(src="../media/icon/search.svg", alt="icon")
            button Add new source
        .adm-select-wrapp_bill
          .left
            +adm-select-item_bill('Crawl list')
            +adm-select-item_bill('Last crawl')
            +adm-select-item_bill('Next crawl')
            +adm-select-big('Followers')
            +adm-select-big('Posts parsed')
            +adm-select-big('Post to moderation')
            +adm-select-item_bill('Last post moderation')
            +adm-select-big('Post approved')
            +adm-select-item_bill('Last posts approved')
            +adm-select-big('Declined posts')
            +adm-select-item_bill('All statuses')
          .right Clear filters
        .api-sources__table
          table.api-table
            thead.api-table__head
              tr
                th.sort Name
                th Crawl
                th Last Crawl
                th Next Crawl
                th Tag
                th Followers
                th Posts Parsed
                th Posts Moderation
                th Last post to moderation
                th Approved
                th Last Approved
                th Declined
                th
            tbody.api-table__body
              +api_item_inst('@shelleynyak', 'primary', '27.07.20', '27.07.20', '#nails', '2500', '200', '20', '20.07.2020', '7', '20.07.2020', '13')
              +api_item_inst('@shelleynyak', 'primary', '27.07.20', '27.07.20', '#nails', '2500', '200', '20', '20.07.2020', '7', '20.07.2020', '13')
              +api_item_inst('@shelleynyak', 'primary', '27.07.20', '27.07.20', '#nails', '2500', '200', '20', '20.07.2020', '7', '20.07.2020', '13')
              +api_item_inst('@shelleynyak', 'primary', '27.07.20', '27.07.20', '#nails', '2500', '200', '20', '20.07.2020', '7', '20.07.2020', '13')
              +api_item_inst('@shelleynyak', 'primary', '27.07.20', '27.07.20', '#nails', '2500', '200', '20', '20.07.2020', '7', '20.07.2020', '13')

        .number-coupon
          .num-item.active 1
          .num-item 2
          .num-item 3
          .num-dots
          .num-item 8