extends ../layout/main-map

block variables
  - const pageTitle = 'Contacts'


    include ../mixins/breadcrumb

block content

  .contact-page
    .container
      .row
        .col-12
          .breadcrumb
            +breadcrumb('Main page','/')
            +breadcrumb('/ Contacts','/map.html')
      .row
        .col-12.col-lg-6.col-md-12
          .contact-info
            .map-block
              h1.contact_title Contacts
            .contact-desc
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.  
        .col-12.col-lg-6.col-md-12
          form#contact-form
            label(for="name") Your name
            input(type="text" name="name" placeholder="John Doe")#name
            label(for="email") Emai
            input(type="email" name="name" placeholder="yourname@mailservice.com")#email
            label(for="sms") Your message
            textarea(name="sms" placeholder="Enter your message here")#sms
            input(type="submit" value="Submit")

