extends ../layout/main

include ../mixins/category_btn
include ../mixins/bigCoupon
include ../mixins/cardStore
include ../mixins/smallCoupon
include ../mixins/breadcrumb

block variables
  - const pageTitle = 'Shop'

block content
  .shop-page
    .container
      .row
        .col-12
          +breadcrumb('Stores','#','/ Best Buy','#')
      .row
        .col-12
          .shop-caption
            .shop-logo
              img(src="../media/icon/logos/shop-logo.svg", alt="logo")
            .shop-title
              h1 Best Buy
              a(href="https://www.bestbuy.com").link https://www.bestbuy.com
                img(src="../media/icon/link.svg", alt="icon")
              .category-btn--block
                +CategoryBtn('../media/icon/category/flowers.svg','beauty')
                +CategoryBtn('../media/icon/category/hair.svg','hair')
                +CategoryBtn('../media/icon/category/heart.svg','health')
                +CategoryBtn('../media/icon/category/skin.svg','skin care')
                +CategoryBtn('../media/icon/category/cosmetic.svg','cosmetics')
      .row
        .col-9
          .bigCoupon-wrap
            +coupons-shop('Free shipping', 'Free Standard Shipping With Doorstep Drop-Off on Orders $35 and Up','14,271 total uses','2,632 uses today','80% success rate')
            +coupons-shop(' 35% OFF', 'Save Up to 35% on Select Solids State Drives','14,271 total uses','2,632 uses today','80% success rate')
            +coupons-shop('35% OFF', 'Save $35-$700 On Select Surface Devices and Free Contactless Curbside Pickup','14,271 total uses','2,632 uses today','80% success rate')
            +coupons-shop('$500 Off', 'Free Standard Shipping With Doorstep Drop-Off on Orders $35 and Up','14,271 total uses','2,632 uses today','80% success rate')
            +coupons-shop('$500 Off', 'Free Standard Shipping With Doorstep Drop-Off on Orders $35 and Up','14,271 total uses','2,632 uses today','80% success rate')
            +coupons-shop('$170 Off', 'Free Standard Shipping With Doorstep Drop-Off on Orders $35 and Up','14,271 total uses','2,632 uses today','80% success rate')
            +coupons-shop('$170 Off', 'Up to $170 Off Beats Headphones Plus Available for In-Store Pick Up by Christmas','14,271 total uses','2,632 uses today','80% success rate')
          h2 FAQ
          include ../modules/shop/shop-acc  
        .col-3
          include ../modules/shop/aside
  .card-section
    .container    
      .row
        .col-12
          .card-title
            h2 Find coupons at stores like Best Buy
            a(href="#") All similar stores
          .card-wrap
            +card-store("./media/icon/logos/1.png", "Kohl's", "21 active coupons", "12,637,890 times used")
            +card-store("./media/icon/logos/2.png", "Travelocity", "21 active coupons", "12,637,890 times used")
            +card-store("./media/icon/logos/3.png", "RedBubble", "4 active coupons", "12,637,890 times used")
            +card-store("./media/icon/logos/4.png", "Best Buy", "50 active coupons", "12,637,890 times used")
            +card-store("./media/icon/logos/5.png", "SHEIN", "3 active coupons", "12,637,890 times used")
            +card-store("./media/icon/logos/2.png", "Travelocity", "21 active coupons", "12,637,890 times used") 
            +card-store("./media/icon/logos/2.png", "Travelocity", "21 active coupons", "12,637,890 times used")
            +card-store("./media/icon/logos/3.png", "RedBubble", "4 active coupons", "12,637,890 times used")
            +card-store("./media/icon/logos/4.png", "Best Buy", "50 active coupons", "12,637,890 times used")
            +card-store("./media/icon/logos/5.png", "SHEIN", "3 active coupons", "12,637,890 times used")
    
  .container  
    .row
      .col-12
        .small-coupon
          h2 You may also like this deals
          .coupons-shop__body
            +coupon-home("Buy More, Save More: 15% Off $60, 25% Off $100 and 30% Off $200 Order", "Vistaprint", "80% success rate")
            +coupon-home("20% Off Sitewide", "EyeBuyDirect", "80% success rate")
            +coupon-home("$2.95 Flat Rate Standard Shipping on Your Orders", "Alex and Ani", "80% success rate")
            +coupon-home("25% Off Orders", "Shutterfly", "80% success rate")
            +coupon-home("Get 25% Off Orders of $50+ When You Sign Up for Emails", "Lovehoney", "80% success rate") 
            +coupon-home("Get 25% Off Orders of $50+ When You Sign Up for Emails", "Lovehoney", "80% success rate")       

