.sign__in--overylay
  .admin__modal.sign__in-modal
    h3 Sign in
    form.small-form__form.admin-form
      .double
        .input-item
          .placeholder Email
          input(type='email')
        .input-item
          .placeholder Password
          input(type='email')
        p Forgot your password?   
        input(type="submit" value="Create a coupon").sign_in_adm