.admin__modal--overlay
  .admin__modal
    .adm__modal--close
    h3 Add new coupon
    form.small-form__form.admin-form
      .double
        .input-item
          .placeholder Coupon
          input(type='email')
        .input-item
          .placeholder Expiration date 
          input(type='email')
      .double
        .input-item
          .placeholder Instagram account
          input(type='email')
        .input-item
          .placeholder Website URL
          input(type='email')
      .double.full-inp
        .input-item
          .placeholder Coupon’s short description
          input(maxlength="55")#text-counter(type='email')
      .count
        .count-item#counter 0
        div /
        .count-item 55    
      .double.full-inp.textarea
        .input-item
          .placeholder Coupon’s full description
          textarea(maxlength="255")#text-count
      .count
        .count-item#count 0
        div /
        .count-item 255      
      input(type="submit" value="Create a coupon").admin_submit        
              
                  
      
        