.shop__modal--overlay
  .shop__modal
    .adm__modal--close
    h3 Change shop
    .admin__search
      input(type="text" placeholder="Search by shop or coupon")
      img(src="../media/icon/search.svg", alt="icon")
    .shop__modal--content
      .shop__modal--item
        .shop__title
          img(src="./media/icon/logos/1.png", alt="icon")
          .title__item
            h4 Kohl’s
            a(href="#") http://merchantshop.com/deals?deal=24
          button.select__shop Select
      .shop__modal--item
        .shop__title
          img(src="./media/icon/logos/1.png", alt="")
          .title__item
            h4 Kohl’s
            a(href="#") http://merchantshop.com/deals?deal=24
          button.select__shop Select 
      .shop__modal--item
        .shop__title
          img(src="./media/icon/logos/1.png", alt="")
          .title__item
            h4 Kohl’s
            a(href="#") http://merchantshop.com/deals?deal=24
          button.select__shop Select 
      .shop__modal--item
        .shop__title
          img(src="./media/icon/logos/1.png", alt="")
          .title__item
            h4 Kohl’s
            a(href="#") http://merchantshop.com/deals?deal=24
          button.select__shop Select 
      .shop__modal--item
        .shop__title
          img(src="./media/icon/logos/1.png", alt="")
          .title__item
            h4 Kohl’s
            a(href="#") http://merchantshop.com/deals?deal=24
          button.select__shop Select
      .shop__modal--item
        .shop__title
          img(src="./media/icon/logos/1.png", alt="")
          .title__item
            h4 Kohl’s
            a(href="#") http://merchantshop.com/deals?deal=24
          button.select__shop Select                          
          