.coupon_admin.shop_adm
  .coupon__content
    .shop__title
      img(src="./media/icon/logos/1.png", alt="")
      .title__item
        h4 Kohl’s
        a(href="#") http://merchantshop.com/deals?deal=24