.coupon_admin.shop_adm
  .coupon__content
    .shop__title
      img(src="./media/icon/logos/1.png", alt="")
      .title__item
        h4 Kohl’s
        a(href="#") http://merchantshop.com/deals?deal=24
    .coupon__btn--section
      button Details
      button.change_shop Change shop
  .coupon__info
    .coupon__info--item
      p Recieved
      p Today, 11:54 EST
    .coupon__info--item
      p Coupons
      p 32
    .coupon__info--item
      p Category
      p Health & Care
    .coupon__info--item
      p Subcategory
      p Skin and hair
    .coupon__info--item
      p Network
      p Happy Coupons Network 