.coupon_admin.shop_adm 
  .coupon__content
    .coupon__info--item(style="min-width: 174px")
      h2.coupon--title Kohl’s
    .coupon__info--item(style="min-width: 68px")
      p Today, 11:54 EST
    .coupon__info--item(style="min-width: 118px")
      p 32 
    .coupon__info--item
      p Healthcare - Beauty
    .coupon__info--item
      p Happy Coupons Network   
    .coupon__btn--section
      button( onClick="location.href='/admin_shop_detail.html';") Details 