.coupon_admin
  .coupon__content
    h2.coupon--title SAVE6DOLLARS
    .coupon__btn--section
      button( onClick="location.href='/coupon-detail.html';") Details
      button Unpublish
  .coupon__info
    .coupon__info--item
      p Shop
      p Best Buy
    .coupon__info--item
      p Recieved
      p Today, 11:54 EST  
    .coupon__info--item
      p Expire date
      p May 20, 2020 – 23:59 EST  
      