.single-coupon-shop
  .coupon__content
    .coupon__information
      img(src="./media/icon/logos/1.png", alt="image")
      .titles
        h2.coupon--title Kohl’s
        a(href="#") http://merchantshop.com/deals?deal=24
      button(type="button").change_shop Change shop  

    