.coupon_admin
  .coupon__content
    .coupon__info--item(style="min-width: 140px")
      h2.coupon--title SAVE6DOLLARS
    .coupon__info--item(style="min-width: 68px")
      p Best Buy
    .coupon__info--item(style="min-width: 118px")
      p Today, 11:54 EST  
    .coupon__info--item
      p May 20, 2020 – 23:59 EST 
    .coupon__btn--section
      button( onClick="location.href='/coupon-detail.html';") Details
      button Unpublish   
      