.coupon_admin.insta_item
  .coupon__content
    .shop__title
      img(src="./media/icon/logos/1.png", alt="")
      h4 @shelleynyak
    .coupon__btn--section
      button( onClick="location.href='/insta_detail.html';") Details
      button.block Block
      .unblock Blocked May 12, 2020 – 12:00 EST by Username.#[button Unblock]
  .coupon__info
    .coupon__info--item
      p Total posts
      p 176
    .coupon__info--item
      p Posts approved
      p 132 
    .coupon__info--item
      p Last update
      p May 20, 2020 – 23:59 EST  