.coupon_admin.insta_coupon
  .coupon__content
    .shop__title
        h4.name Kohl’s
        p.desc Free Standard Shipping With Doorstep Drop-Off on Orders $35 and Up
        a(href="#") http://merchantshop.com/deals?deal=24
    .coupon__btn--section
      button Details
      button Unpublish
  .coupon__info
    .coupon__info--item
      p Recieved
      p Today, 11:54 EST
    .coupon__info--item
      p Coupons
      p 32
    .coupon__info--item
      p Category
      p Health & Care
    .coupon__info--item
      p Subcategory
      p Skin and hair
    .coupon__info--item
      p Network
      p Happy Coupons Network 