.categoryItem {
  display: flex;
  align-items: center;
  padding: 6px 14px 8px 10px;
  background: #F7F7F7;
  border-radius: 100px;
  width: max-content;
  cursor: pointer;
  border: 1px solid #F7F7F7;
  .icon {
    font-size: 18px;
    line-height: 20px;
    margin-right: 4px;
  }

  .name {
    font-size: 14px;
    line-height: 22px;
    color: #222222;
  }
}

.categoryItem.active {
  background: rgba(255,112,62,.1)!important;
  border: 1px solid rgba(255, 112, 62, 0.2);

  .name {
    color: #ff703e!important;
  }
}