tr
  td.name.name--width
    p
      img(src='./media/icon/table-arrow.svg' alt='arrow')
      span Category 1
  td.coupons 12,738
  td.shops 569
  td.buttons.buttons--width
    button(onclick="location.href='/catalogue-sub.html';") Add new subcategory

tr.hidden.hidden-no
  td.name Subcategory 1
  td.coupons 12,738
  td.shops 569
  td.buttons.buttons--width
    a(href='/catalogue-single.html') Details

tr.hidden.hidden-no
  td.name Subcategory 2
  td.coupons 12,738
  td.shops 569
  td.buttons.buttons--width
    a(href='/catalogue-single.html') Details

tr.hidden.hidden-no
  td.name Subcategory 3
  td.coupons 12,738
  td.shops 569
  td.buttons.buttons--width
    a(href='/catalogue-single.html') Details