.header__modal--wrap
  a(href="/couponoftheday.html").header__modal--item
    h3 Coupons of the day
    p These discounds were added within 24h
  a(href="#").header__modal--item
    h3 New coupons
    p Just added to the site, hurry up!
  a(href="#").header__modal--item
    h3 Trusted coupons
    p Coupons marked as "100% working"    