mixin adm-select-big(name)
  .adm-select-item_bill.type-list.type-select-js.select__big
    .name= name
      img(src="./media/icon/small-arrow.svg", alt="")
    .hover-block
      .input__section
        input(type="text" placeholder="from")
        input(type="text" placeholder="to")
      .line Option 1
      .line Option 2
      .line Option 3
      button.select-confirm Confirm