.shop-acc {

  margin-top: 24px;
  margin-bottom: 48px;



  ul {
    .dropdown {
      position: relative;
      list-style: none;
      border-radius: 12px;
      margin-bottom: 10px;


      button {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        letter-spacing: -0.01em;
        font-feature-settings: 'pnum'on, 'lnum'on;
        color: #555555;
        justify-content: space-between;
        width: 100%;
        border: none;
        background-color: transparent;
        display: flex;
        align-items: center;
        position: relative;
        .plus,
        .minus {
    
          padding: 8px;
          background-color: #F7F7F7;
          border-radius: 50%;
          transition: 1.2s;
          opacity: 1;
          position: absolute;
          right: 11px;
        }

        .minus {
          // display: none;
          opacity: 0;
        }
      }

      [data-toggle="dropdown"] {
        display: flex;
        padding: 11px 11px 11px 19px; 
        padding-left: 20px;


      }

      &>.dropdown-menu {
        max-height: 0;
        overflow: hidden;

        transition: .6s;


        li {
          padding: 0;
          $radioSize: 24px;
          $inputBorder: #D0D7DD;
          $inputActive: #1F1F22;

          .acc-item {
            display: flex;
            position: relative;
            flex-direction: column;
            padding: 0 17px;
            margin: 0 0px 30px;

            p {
              font-style: normal;
              font-weight: normal;
              font-size: 16px;
              line-height: 24px;
              color: #333333;
            }
          }
        }
      }

      &>input[type="checkbox"] {
        opacity: 0;
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        color: #565B62;


      }
    }

    .Drop {
      background-color: #F7F7F7;
    }

    .Drop.active {
      background-color: transparent !important;
    }

    .dropdown-menu.active {
      max-height: 1500px;
      display: block;
      transition: 1s;
    }

    .arrow.active {
      transform: rotate(90deg);
    }
  }

  & .dropdown:last-child {
    border-bottom: none;
  }
}

.shop-acc.active {
  background: none;
}

.plus.active {
  //display: none !important;
  opacity: 0!important;
}

.minus.active {
  //display: block !important;
  opacity: 1!important;
}