@media screen and (max-width: 767px) {
  .coupon-shop {
    border: 1px solid #F7F7F7;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.18);
    border-radius: 8px;
    min-height: 222px;
    margin-bottom: 8px;
    position: relative;
    padding: 20px;
    .left-side {
      display: none;
    }

    .right-side {
      padding: 0;
      .top {
        .button {
          width: 100%;
          position: absolute;
          bottom: 16px;
          margin-top: 21px;
          max-width: 256px;
          bottom: 10px;
          left: 50%;
          transform: translateX(-50%);
        }
      }

      .bottom {
        display: flex;
        flex-direction: column;

        .uses{
          width: 100%;
        }

        .rate {
          justify-content: flex-end;
          width: 100%;

          .result {
            margin-right: auto;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .breadcrumb {
    margin: 10px 0 8px;
  }

  .coupon-page {
    .coupons-title {
      h1 {
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 16px;
      }

      .title-btn {
        flex-wrap: wrap;

        button {
          padding: 6px 12px;
          margin-bottom: 8px;
        }
      }
    }

    .small-coupon {
      margin-bottom: 32px;
      h2 {
        font-size: 24px;
        line-height: 30px;
        margin-top: 32px;
      }

      .desc {
        margin-bottom: 16px;

        p {
          font-size: 14px;
          line-height: 22px;
        }
      }

      p {
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 16px;
      }
    }
  }
  .coupon-shop {
    padding: 16px;
    .right-side {
      .top {
        .name {
          margin-right: 0;  
        }
        .button {
          max-width: calc(100% / 1 - 16px);
        }
      }
      .bottom {
        .uses {
          margin-bottom: 5px;
        }
      }
    }
  }
  .coupons-shop__body .show-all {
    width: 100%;
  }

  .second-section, 
  .form-section {
    display: none;
  }



  #coupon-slider {
    .owl-stage-outer {
      padding-bottom: 24px!important;
    }
    .owl-nav {
      width: 100%;
      bottom: 0;
      right: unset;
      top: unset;
      .owl-prev {
        margin-left: 16px!important;
      }
      .owl-next {
        margin-right: 16px!important;
      }
    }
    .owl-dots {
      margin: 20px auto 0;
      display: -webkit-box;
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 208px;
      width: 100%;
      background: rgba(113, 113, 113, 0.2);
      border-radius: 100px;
      .owl-dot {
        width: 100%;
        height: 2px;
        position: relative;
        z-index: 1;
  
        span {
          display: none;
        }
      }
    }
  }

  #coupon-slider .owl-dots .active {
    background: #FF703E;
  }

}