.home-main {
  padding: 120px 0 104px;
  background: #08A401;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 752.01px;
    height: 752.01px;
    background: linear-gradient(179.06deg, rgba(255, 255, 255, 0.05) 0.81%, rgba(255, 255, 255, 0) 34.42%);
    transform: rotate(60deg);
    border-radius: 50%;
    top: 107.92px;
    left: -416.79px;
  }

  &::before {
    content: '';
    position: absolute;
    width: 973.57px;
    height: 973.57px;
    background: linear-gradient(181.72deg, rgba(255, 255, 255, 0.05) 1.46%, rgba(255, 255, 255, 0) 64.89%);
    transform: rotate(-135deg);
    border-radius: 50%;
    top: -400px;
    right: -294px;
  }

  * {
    position: relative;
    z-index: 2;
  }

  &__title {
    font-weight: bold;
    font-size: 54px;
    line-height: 64px;
    color: #FFFFFF;
    margin-bottom: 8px;
  }

  &__desc {
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 32px;
  }

  &__form {
    width: 100%;
    background: #FFFFFF;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 18px;
    margin-bottom: 16px;

    input[type='submit'] {
      @include base-box(24px);
      @include base-background(contain);
      background-image: url(../media/icon/search.svg);
      border: none;
      background-color: transparent;
    }

    input[type='text'] {
      width: 100%;
      padding-left: 18px;
      font-size: 16px;
      line-height: 24px;
      color: rgba(34, 34, 34, 1);
      border: none;

      &::placeholder {
        color: rgba(34, 34, 34, 0.6);
      }
    }
  }

  &__example {
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;

    .example__link {
      font-size: 16px;
      line-height: 22px;
      color: #FFFFFF;
      transition: all .3s;

      &:hover {
        text-decoration-line: underline;
      }
    }
  }
}