.getCode__modal--overlay
  .getCode__modal
    .getCode__modal--close
    .top
      h3 Copy the coupon code
      .field
        .field_inp Save15
        .field_btn Cope code
      p Paste this code at checkout at #[a(href="#") websisitename.com] #[br]Bose Coupon Code -50% off out of ear headphones. 1 time use  
    .line
    .bottom
      h4 Never miss another coupon from#[br]Office Depot Office Max
      button.subscribe Subscribe
        img(src="../media/icon/subscribe.svg", alt="icon") 