header.header
  a.header__logo(href='/') Couponation
  .header__nav
    button.header__link.header__drop--btn(href='#') Coupons
      include home/header__modal
    a.header__link(href='#') Categories
    a.header__link(href='./store.html') Stores
    .header__button(onclick="location.href='/submitCoupon.html';") Submit a coupon