header.header
  a.header__logo(href='/') Couponation
  .header__nav
    a.header__link(href='./coupons.html') Coupons
    a.header__link(href='#') Categories
    a.header__link(href='#') Stores
    .header__button Submit a coupon