.fake-header
header.header
  .burger
    img(src="../media/icon/burger.svg", alt="icon")
  a.header__logo(href='/') Couponation
  .header__nav
    button.header__link.header__drop--btn(href='#') Coupons
      include home/header__modal
    a.header__link(href='/categories.html') Categories
    a.header__link(href='./store.html') Stores 
    .header__button(onclick="location.href='/submitCoupon.html';") Submit a coupon