// Moderat

@font-face {
  font-family: Moderat;
  src: url('../fonts/moderat/Moderat Black.otf');
  src: url('../fonts/moderat/Moderat Black.otf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Moderat;
  src: url('../fonts/moderat/Moderat Black Italic.otf');
  src: url('../fonts/moderat/Moderat Black Italic.otf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: Moderat;
  src: url('../fonts/moderat/Moderat Bold.otf');
  src: url('../fonts/moderat/Moderat Bold.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Moderat;
  src: url('../fonts/moderat/Moderat Bold Italic.otf');
  src: url('../fonts/moderat/Moderat Bold Italic.otf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: Moderat;
  src: url('../fonts/moderat/Moderat Medium.otf');
  src: url('../fonts/moderat/Moderat Medium.otf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Moderat;
  src: url('../fonts/moderat/Moderat Medium Italic.otf');
  src: url('../fonts/moderat/Moderat Medium Italic.otf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

//@font-face {
//  font-family: Moderat;
//  src: url('../fonts/moderat/Moderat Mono Medium.otf');
//  src: url('../fonts/moderat/Moderat Mono Medium.otf') format('truetype');
//  font-weight: 500;
//  font-style: normal;
//}

@font-face {
  font-family: Moderat;
  src: url('../fonts/moderat/Moderat Regular.otf');
  src: url('../fonts/moderat/Moderat Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Moderat;
  src: url('../fonts/moderat/Moderat Regular Italic.otf');
  src: url('../fonts/moderat/Moderat Regular Italic.otf') format('truetype');
  font-weight: normal;
  font-style: italic;
}