* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  font-family: Moderat, sans-serif;
}

body,
html {
  position: relative;
}

h1 {
  text-transform: none;
}

a,
a:hover,
a:focus,
a:visited,
a:active {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.container {
  @media (min-width: 1200px) {
    max-width: 1110px;
  }
}

/*settings*/
@import "mixins";
@import "fonts";
@import "var";
@import "modules/main-slider";
@import "modules/cart-store";
@import "modules/coupons";
@import "modules/small-form";
@import "modules/categoryItem";
@import "modules/card-link";
@import "modules/getCodeModal";
@import "modules/subscribe_modal";
@import 'modules/card-category';

/*over use blocks*/
@import "header";
@import "footer";

@import "pages/home/home";

/* PAGES SHOP */
@import "pages/shop/shop"; 
/* PAGES COUPONS */
@import "pages/coupons/coupons";
/* PAGES BEAUTY */
@import "pages/beauty/beauty";
/* PAGES category */
@import "pages/healthcare/healthcare";
/* PAGES 404 */
@import "pages/404/404";
/* PAGES MAPS */
@import "pages/map/map";
/* PAGES STORE */
@import "pages/store/store";
/* PAGES ADMIN */
@import "pages/admin/admin";
/* PAGES SINGLE ADMIN COUPON */
@import "pages/admin/single-coupon";
/* PAGES  ADMIN SHOP */
@import "pages/admin/admin_shop_page";
/* PAGES  ADMIN INSTA SOURCES */
@import "pages/admin/insta_sources";
/* PAGES  ADMIN DASHBOARD */
@import "pages/admin/dashboard";
/* PAGES  SUBMIT A COUPON */
@import "pages/submitCoupon/submitCoupon";
/* PAGES  CATEGORIES */
@import "pages/categories/categories";